*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float_sx{
    float: left;
}

.float_dx{
    float: right;
}

/* COLORI SFONDI E TESTI */

.white_bg{
    background-color: white;
}

.darkgray_bg{
    background-color: #363A3E;
}

.lilac_bg{
    background-color: violet;
}

.white_text{
    color: white;
}
/* / COLORI SFONDI E TESTI */

  /* BUTTON STYLE */

    .button_style{
        border: 1px solid;
        border-radius: 25px;
        font-size: 15px;
        border: none;
    }

    .button_style > a{
        text-decoration: none;
    }

    .button_style.white_bg >a{
        color: black;
    }

    .button_style.darkgray_bg > a, .button_style.lilac.bg  >a{
        color: white;
    }

    button.small{
        font-size: 1vw;
        padding: 4% 4%;
    }

    button.big{
        font-size: 1.3vw;
        padding: 2% 4%;
    }

    button.download:before{
        font-family: "Font Awesome 5 free";
        content: "\f309";
        font-weight: 600;
        margin: 0 5px;
    }
    /* BUTTON STYLE */

/* / COMMON */

/* LOGO + MENU + LOGIN */
header{
    background-color: #404eed;
}

header > .container{
    height: 70px;
}

header >  div{
    text-align: center;
    line-height: 70px;
}

header .container > .small{
    width: calc(100% / 4);
}
    /* LOGO */
    header .logo img{
        height: 50%;
        vertical-align: middle;
    }
    /* /LOGO */

    /* MENU */
    nav{
        width: calc((100% / 4) * 2);
    }

    header nav ul li{
        display: inline-block;
        list-style: none;
        font-size: 15px;
        padding: 0 15px;
    }

    header nav ul li a{
        color: white;
        text-decoration: none;
    }
    /* / MENU */

/* / LOGO + MENU + LOGIN */

/* HERO SECTION */
section.banner_top{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: 65vh;
}

section.banner_top > .container{
    height: 100%;
    position: relative;
}

section .banner_content_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 3%;
}

.banner_text_box > h1{
    font-size: 4vw;
    padding-bottom: 5%;
}

.banner_text_box > p{
    font-weight: 500;
    line-height: 4vh;
}

.banner_button_box{
    margin-top: 4%;
}

.banner_button_box > button:first-child{
    margin-right: 5%;
}

/* / HERO SECTION */